footer
  .container

    .link-container
      a(href="contact.html", target="_self") 聯繫我們
      span ｜
      a(href="terms.html", target="_self") 網站條款
      span ｜
      a(href="privacy.html", target="_self") 隱私條款

    .copyright
      p.t-1 台灣雀巢股份有限公司版權所有
      p.t-2  © 2020 Nestle Taiwan Ltd. All Rights Reserved
      span ｜
      p.t-3 營養諮詢專線 
        a(href="tel:0800-000-339", target="_self") 0800-000-339