// 字型定義

$font_content: Arial, sans-serif, 微軟正黑體;
$notofont: -apple-system,'微軟正黑體', Arial, Verdana, sans-serif;

// 文字顏色
$main-purple:#6a1ba5; //主要顏色
$light-purple:#b05bd7; //淡顏色
$third-purple:#9503b4;  //淡顏色
// z-index
$header-z-index: 999;
$side-follow-z-index: 888;